.header {
    text-align: left;
    padding-left: 120px;
    background-color: hsl(256, 26%, 20%);
    color: white;
    padding-top: 80px;
    padding-bottom: 100px;
}

.header1 {
    text-align: left;
    padding-left: 120px; 
    padding-top: 200px;
}

.tag {
    margin-right: 67%;
}
.tag1 {
    margin-right: 78%;
}

hr {
    margin-right: 90%;  
}

.but {
    background-color:hsl(256, 26%, 20%);
    color: white;
    border: 1px solid white;
    font-size: 9px;
    cursor: pointer;
}

.grid {
    display: flex;
    margin-right: 20px;
}

.box {
    margin-right: 50px;
    margin-top: 60px;
}

p {
    font-size: 13px;
}
.pic {
    width: 64px;
    height: 64px;
}

.last {
    display: flex;
    background-color: hsl(256, 26%, 20%);
    color: white;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 140px;
    padding: 30px;
    margin-bottom: 80px;
}
.last1 {
    flex: 80%;
    text-align: left;
    margin-right: 180px;
    margin-left: 70px;
}

.ton {
    flex: 20%;
    background-color:hsl(256, 26%, 20%);
    color: white;
    border: 1px solid white;
    font-size: 9px;
    cursor: pointer;
    height: 25px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 100px;
}

.foothead {
    display: flex;
}